body {
    font-family: Open Sans !important;
    background-color: #fff;
}
html { /* background-color: #E5E3DF !important; */ }
nav select { display: none; }
.noteimportant {
  position: absolute;
  right: 17px;
  top: 38px;
  width: 380px;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  line-height: 16px;
}
.item {
  display: inline-block;
  float: left;
  height: 300px;
  margin: 10px;
  width: calc(33% - 20px);
}
.item .adaptive.gallery_img {
  display: block;
  margin: 0 auto;
  max-height: 300px;
  text-align: center;
  width: auto;
}
.ui-accordion-header {
  background-color: #e2b55d !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  margin: 0 !important;
  padding: 20px !important;
  color: #fff !important;
  text-transform: uppercase !important;
}
#accordion a {
  float: left;
  height: 180px;
  margin: 15px;
  overflow: hidden;
  position: relative;
  width: 180px;
}
#accordion a img {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.attachment-blogMasonry.size-blogMasonry.wp-post-image {
  overflow: hidden;
  height: 205px;
}
#my-video {
  margin: 0 auto;
}
#single .container { width: 100%; padding: 0; }
#single .bookingInfo .container { width: 1170px !important; }
#single #siteHeader .container { width: 1170px !important; }
#single .singleRoomWidePage .container .container { width: 1170px !important; }
#single .singleRoomWidePage { background-color: #D6D6D6; }
#single #siteFooter .container { width: 1170px !important; }
#single .img-responsive, .thumbnail > img { max-width: 100% !important; }
#siteHeader .preHeader i { margin: 0 5px 0 20px; }
/* Sec Complement styles */
					.btn.btn-default.um_book:hover
					{
						color:#eaeaea !important;
					}
					.sub-menu, .menuPrice, 
					input, select, textarea, button a.btn, 
					.bookingForm .bootstrap-select,
					.woocommerce #payment div.payment_box, 
					.woocommerce-page #payment div.payment_box, 
					.um_table tr:nth-child(even), 
					.social,
					input, select, textarea, button a.btn,
					.bookingForm .bootstrap-select, 
					.formInput .btn-default, 
					.formInput fieldset, 
					.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, 
					.preHeader .cart_content .widget.widget_shopping_cart, 
					.bookingForm input
					{	
						background-color: #eaeaea;
					}
					
					.woocommerce #payment div.payment_box:after, 
					.woocommerce-page #payment div.payment_box:after 
					{
						border-color:#eaeaea !important;
					}	
					.total .bookTotal, .um_table tfoot .bookTotal
					{	
						background: rgba(234,234,234,0.7) !important; 
					}
					
				/* Pri Complement styles */
					.mainBgColor,
					.woocommerce-page div.product, 
					.singleComments .inputFields input, 
					.singleComments .inputFields textarea, 
					.rsDefault.roomsSlider, 
					.rsDefault.roomsSlider .rsOverflow, 
					.rsDefault.roomsSlider .rsSlide, 
					.rsDefault.roomsSlider .rsVideoFrameHolder, 
					.rsDefault.roomsSlider .rsThumbs, 
					.closeBtn, 
					.closeLightbox, 
					.homeBoxes .widget, 
					.roomsHomeSlider .owl-nav, 
					.bgImg .pagination, 
					.roomsHomeSlider .owl-buttons, 
					.um_table tr:nth-child(odd), 
					.um_table th, 
					.um_cusotmArrows .rsArrowIcn, .rsDefault .rsArrowIcn, 
					.woocommerce span.onsale, .woocommerce-page span.onsale, 
					.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
					.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle, 
					.woocommerce-page form input, .woocommerce-page form textarea, 
					.woocommerce-page button a.btn, .woocommerce-page .bootstrap-select, 
					.woocommerce-page .chosen-container-single .chosen-single, 
					.chosen-container .chosen-drop, 
					.woocommerce-page select, 
					.woocommerce .woocommerce-error, 
					.woocommerce .woocommerce-info, 
					.woocommerce .woocommerce-message, 
					.woocommerce-page .woocommerce-error, 
					.woocommerce-page .woocommerce-info, 
					.woocommerce-page .woocommerce-message, 
					.dropdown-menu, .searchFilter select,
					.panel, 
					.woocommerce #content div.product, 
					.woocommerce-tabs ul.tabs li.active, 
					.woocommerce div.product .woocommerce-tabs ul.tabs li.active, 
					.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, 
					.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
					.woocommerce #payment, .woocommerce-page #payment,
					.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
					.woocommerce div.product .woocommerce-tabs ul.tabs li,
					.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
					.woocommerce-page div.product .woocommerce-tabs ul.tabs li, 
					.btn.btn-default.um_book:hover
					{
						background-color: #ffffff !important;
					}
					.btn.btn-default.um_book,
					.btn-brand, 
					.commentBody li .commentText .comment_name, 
					.commentBody li .commentText .comment_name a, 
					.comment-respond .logged-in-as a, 
					.navbar-toggle, 
					.navbar-default .navbar-toggle:hover,
					.navbar-default .navbar-toggle:focus, 
					.um_cusotmArrows .rsArrowIcn:hover,
					.rsDefault .rsArrowIcn:hover, 
					.singleRoomPage .bookingInfo, 
					.theBox.menuBox:hover .menuPrice p, 
					.socialLinks li a:hover, 
					.rsDefault .rsArrowDisabled .rsArrowIcn, 
					.attrBox:hover footer h5, 
					.menuContent .menuItem .menuImg .icon, 
					.submitBtn, 
					.blogItem header i,  
					.triangle > i, 
					.triangle:hover > i,
					.owl-prev:hover i, .owl-next:hover i, 
					.bgImg .woocommerce-breadcrumb,
					.bgImg .woocommerce-breadcrumb a, 
					.bgImg .woocommerce-result-count, 
					.bgImg .woocommerce-ordering select, 
					.fourOfour .btn.white:hover, 
					#wp-calendar tbody #today,  
					.woocommerce .star-rating:before, 
					.woocommerce-page .star-rating:before, 
					.woocommerce .star-rating span:before, 
					.woocommerce-page .star-rating span:before, 
					.woocommerce .woocommerce-error:before, 
					.woocommerce .woocommerce-info:before, 
					.woocommerce .woocommerce-message:before, 
					.woocommerce-page .woocommerce-error:before, 
					.woocommerce-page .woocommerce-info:before, 
					.woocommerce-page .woocommerce-message:before, 
					.rsDefault, .rsDefault .rsOverflow, 
					.rsDefault .rsVideoFrameHolder, 
					.rsDefault .rsThumbs, 
					.mainColor,
					.um_table th
					{
						color: #ffffff !important;
					}
					.btn-default, 
					.rsDefault .rsArrowDisabled .rsArrowIcn, 
					.um_cusotmArrows .rsArrow.rsArrowDisabled .rsArrowIcn, 
					.menuPrice  
					{
						border-color: #ffffff !important;
					}
					
					.woocommerce .woocommerce-error, 
					.woocommerce .woocommerce-info, 
					.woocommerce .woocommerce-message, 
					.woocommerce-page .woocommerce-error, 
					.woocommerce-page .woocommerce-info, 
					.woocommerce-page .woocommerce-message 
					{
						text-shadow: 0 1px 0 #ffffff !important;
					}
					
				/* BG Color Styles */
					body
					{
						/*background: #f2f2f2 !important;*/
					}	
					
					::selection 
					{
						background: #7641e0 !important;
					}
						
					::-moz-selection 
					{
						background: #7641e0 !important;
					}
					
				/* Brand Color Styles */
					.brandColor, 
					.um_cusotmArrows .rsArrowIcn,
					.rsDefault .rsArrowIcn, 
					.nav.navbar-nav li a:hover, 
					.orderByIsotope li a:hover, 
					.blogItem:hover .title, 
					.pagination .page-numbers.current, 
					.owl-prev i, 
					.owl-next i, 
					.roomsHomeSlider .owl-controls .owl-buttons > div:hover i.fa, 
					.staffLinks .boxIcons a:hover, 
					.staffBox a:hover .title, 
					.roomsBox:hover .title, 
					.menuContent .menuItem:hover .menuDetails .title, 
					.headerImg .um_error_contnet, 
					.fourOfour .btn.white, 
					.btn.default,
					.btn.white:hover,
					.woocommerce span.onsale, 
					.woocommerce-page span.onsale, 
					.woocommerce #content table.cart td.actions .coupon .button, 
					.woocommerce table.cart td.actions .coupon .button, 
					.woocommerce-page #content table.cart td.actions .coupon .button, 
					.woocommerce-page table.cart td.actions .coupon .button, 
					.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, 
					.woocommerce div.product .woocommerce-tabs ul.tabs li.active, 
					.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, 
					.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, 
					.woocommerce table.shop_table th, 
					.woocommerce-page table.shop_table th, 
					.woocommerce #content table.cart a.remove:hover, 
					.woocommerce table.cart a.remove:hover, 
					.woocommerce-page #content table.cart a.remove:hover, 
					.woocommerce-page table.cart a.remove:hover, 
					div.products .product:hover h3,
					.woocommerce #content input.button.alt, 
					.woocommerce #respond input#submit.alt, 
					.woocommerce a.button.alt, 
					.woocommerce button.button.alt, 
					.woocommerce input.button.alt, 
					.woocommerce-page #content input.button.alt, 
					.woocommerce-page #respond input#submit.alt, 
					.woocommerce-page a.button.alt, 
					.woocommerce-page button.button.alt, 
					.woocommerce-page input.button.alt, 
					.um_cusotmArrows .rsArrowIcn, .rsDefault .rsArrowIcn, 
					.woocommerce.single-product .star-rating:before, 
					.woocommerce-page.single-product .star-rating:before, 
					.woocommerce.single-product .star-rating span:before, 
					.woocommerce-page.single-product .star-rating span:before, 
					.boxIcons a.iconHolder:hover
					{
						/*color : #7641e0 !important;*/
					}
								
					.brandBgColor, 
					.btn-brand, 
					.um_cusotmArrows .rsArrowIcn:hover,
					.rsDefault .rsArrowIcn:hover, 
					.theBox.menuBox:hover .menuPrice, 
					.socialLinks li a:hover, 
					.attrBox:hover footer, 
					.theBox.attrBox .boxContent, 
					.rsDefault .rsThumb.rsNavSelected, 
					.triangle, 
					.um_booking_lightbox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
					.owl-prev:hover, .owl-next:hover, 
					span.cart_totlWrapper, 
					.roomsBox .boxContent, 
					.fourOfour .btn.white:hover,
					.btn.default:hover,
					#wp-calendar tbody #today, 
					#wp-calendar tbody td:not(.pad):hover, 
					.widget input[type=submit], 
					.instagram-placeholder > a, 
					.widget .roomsGallery .roomItem .hoverBtn,
					.woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
					.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range, 
					.woocommerce #content input.button.alt:hover, 
					.woocommerce #respond input#submit.alt:hover, 
					.woocommerce a.button.alt:hover, 
					.woocommerce button.button.alt:hover, 
					.woocommerce input.button.alt:hover, 
					.woocommerce-page #content input.button.alt:hover, 
					.woocommerce-page #respond input#submit.alt:hover, 
					.woocommerce-page a.button.alt:hover, 
					.woocommerce-page button.button.alt:hover, 
					.woocommerce-page input.button.alt:hover, 
					.woocommerce #content input.button.added:before, 
					.woocommerce #respond input#submit.added:before, 
					.woocommerce a.button.added:before, 
					.woocommerce button.button.added:before, 
					.woocommerce input.button.added:before, 
					.woocommerce-page #content input.button.added:before, 
					.woocommerce-page #respond input#submit.added:before, 
					.woocommerce-page a.button.added:before, 
					.woocommerce-page button.button.added:before, 
					.woocommerce-page input.button.added:before, 
					.woocommerce .woocommerce-message:before, 
					.woocommerce-page .woocommerce-message:before, 
					.chosen-container .chosen-results li.highlighted,
					.um_table .brandBgColor, 
					.wpcf7 input[type="submit"]
					{
						/*background-color: #7641e0;*/
					}
					
					.socialLinks li a:hover, 
					.services .servicePostWrapper:hover, 
					.fourOfour .btn.white, 
					a.btn.btn-default.titleUp.um_book:hover,
					.btn.default,
					.woocommerce #content table.cart td.actions .coupon .button, 
					.woocommerce table.cart td.actions .coupon .button, 
					.woocommerce-page #content table.cart td.actions .coupon .button, 
					.woocommerce-page table.cart td.actions .coupon .button,
					.woocommerce #content input.button.alt, 
					.woocommerce #respond input#submit.alt, 
					.woocommerce a.button.alt, 
					.woocommerce button.button.alt, 
					.woocommerce input.button.alt, 
					.woocommerce-page #content input.button.alt, 
					.woocommerce-page #respond input#submit.alt, 
					.woocommerce-page a.button.alt, 
					.woocommerce-page button.button.alt, 
					.woocommerce-page input.button.alt, 
					.sub-menu, 
					.blogPage .blogItem:hover .itemContainer,
					.blog2Page .blogItem:hover, 
					.pagination .page-numbers.current, 
					.owl-prev, .owl-next, 
					.roomsHomeSlider .owl-controls .owl-buttons .owl-prev:hover,
					.roomsHomeSlider .owl-controls .owl-buttons .owl-next:hover, 
					.preHeader .cart_content .widget.widget_shopping_cart, 
					.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, 
					.woocommerce div.product .woocommerce-tabs ul.tabs li.active, 
					.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, 
					.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, 
					.preHeader .cart_content .widget.widget_shopping_cart:before, 
					.woocommerce .woocommerce-message, 
					.woocommerce-page .woocommerce-message, 
					.um_loading, 
					.sticky
					{
					/*	border-color:#7641e0 !important;*/
					}
			
					.mainBrandOverlay, 
					div.products .product:hover .um_relative .productOverlay 
					{
						background: rgba(118,65,224,0.85) !important; 
					}
.topmargin {
  margin-top: 270px;
}
#columnLeft ul ul { padding: 0 0 0 10px; }
iframe { max-width: 100% !important; }
.m0l0oout72_l { display: inline-block; float: left; padding: 0 5px; text-align: center; width: calc(50% - 15px); line-height: 20px; }
.m0l0oout72_r { display: inline-block; float: right; padding: 0 5px; text-align: center; width: calc(50% - 15px); line-height: 20px; }
.article_separator { display: block; float: left; height: 15px; line-height: 15px; width: 100%; }
ul { list-style-type: none !important; }
.najave .contentpaneopen_a { width: 100%; }
.najave p, .najave a { text-align: center !important; display: block !important; width: 100% !important; margin: 0 auto !important; }
.najave img {
  display: block !important;
  max-height: 100% !important;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100% !important;
  height: auto !important;
}
.bannerBottom li { float: left; display: inline-block; }
.txt_block img { max-width: 100%; }
.title-5 > a { font-size: 20px; text-decoration: underline; }
#content .posts article { margin: 0 0 20px 0; }
.freeBoxTop img { width: 100%; }
.posts figure {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 150px;
  padding: 10px;
  position: relative;
  width: 150px;
  float: left;
  margin: 5px;
}
.posts figure img {
  height: 100%;
  position: relative;
  width: 100%;
}
figure span {
  position: absolute;
  bottom: 11px;
  z-index: 99999;
  text-align: center;
  padding: 2px 10px;
  width: calc(100% - 40px);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}
.bannerindex_block { margin: 10px 0; width: 100%; float: left; display: block; position: relative; }
.banner_index {
position: relative;
  float: left;
  display: inline-block;
  margin: 5px;
  width: calc(33% - 10px);
}

.vc_grid-item.vc_clearfix.vc_col-sm-3.vc_grid_filter-item.vc_visible-item.fadeIn.animated {
  display: inline-block;
  float: left;
  height: 100px;
  margin: 5px;
  padding: 0;
  width: 150px;
}
.small-gallery .vc_col-sm-3 {
  position: relative;
  width: 150px !important;
}
.vc_gitem-zone-img {
  display: block;
  float: left;
  height: 90px;
  position: relative;
  width: 150px;
}

.freeBoxHolder .freeBoxTop { display: block; float: left; margin: 0 0 5px; width: 100%; position: relative; }
.freeBoxTop a span { background-color: #002c4f; border-radius: 10px; color: #fff; display: block; margin: 0; padding: 15px 0; text-align: center; width: 100%; float: left; font-weight: 600; }
.freeBoxTop img { border: 1px solid #97A4B8; border-radius: 10px; float: left; width: calc(100% - 4px); }
.freeBoxTop a span.fixposition { background-color: rgba(0, 44, 79, 0.7); border-radius: 0; bottom: 0; color: #fff; display: block; float: left; font-weight: 600; margin: 0; padding: 15px 0; position: absolute; text-align: center; width: 100%; }

.gotop {background-color:#5096ff;opacity:0.8;color:#FFF;z-index:2147483647; border-radius:2px;width:40px;height:40px;font-weight:normal;line-height:40px;
text-align:center;position:fixed;bottom:40px;right:40px;cursor:pointer;-webkit-transition:all ease-in-out 0.2s;
-moz-transition:all ease-in-out 0.2s;-o-transition:all ease-in-out 0.2s;transition:all ease-in-out 0.2s;overflow:hidden;
box-shadow:inset 0 -3px 0 rgba(0,0,0,0.08);display:inline;visibility: hidden;opacity: 0;-webkit-transition: opacity .3s 0s, visibility 0s .3s;
-moz-transition: opacity .3s 0s, visibility 0s .3s;transition: opacity .3s 0s, visibility 0s .3s;}
.no-touch .gotop:hover {background-color:#4169e1; opacity: 1;}
.gotop  i {font-size:15px;line-height:40px;font-weight:normal;}
.gotop.cd-is-visible, .gotop.cd-fade-out, .no-touch .gotop:hover {-webkit-transition: opacity .3s 0s, visibility 0s 0s;-moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;}
.gotop.cd-is-visible {visibility: visible;opacity: 1;}
.gotop.cd-fade-out {opacity: .5;}  
.cd-top {display: inline-block;height: 40px; width: 40px;position: fixed;bottom: 40px;right: 10px;box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);overflow: hidden;text-indent: 100%;white-space: nowrap;
  background: rgba(16, 85, 163, 0.7) url(../images/cd-top-arrow.svg) no-repeat center 50%;visibility: hidden;opacity: 0;-webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;transition: opacity .3s 0s, visibility 0s .3s;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {-webkit-transition: opacity .3s 0s, visibility 0s 0s;-moz-transition: opacity .3s 0s, visibility 0s 0s;
transition: opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible {visibility: visible;opacity: 1;}
.cd-top.cd-fade-out {opacity: .5;}
.no-touch .cd-top:hover {background-color: rgba(16, 85, 163, 1);opacity: 1;}

/*----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Pagination                       { clear: both; width: 100%; overflow: hidden; margin: 10px auto; text-align: center; float: left; }
.Zebra_Pagination ul                    { position: relative; left: 50%; list-style-type: none; margin: 0; padding: 0; float: left }
.Zebra_Pagination li                    { position: relative; float: left; right: 50%; margin: 0 0 0 5px; }

/* COMMON ATTRIBUTES FOR ALL THE LINKS
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Pagination a { background-color: #fff; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;  color: #333; display: block; float: left; font-size: 13px; margin: 0 3px; padding: 0; text-decoration: none; height: 25px; width: 25px; line-height: 25px; }
.Zebra_Pagination a:hover               { background-color: #027DC3; color: #fff }

/* "NEXT PAGE" AND "PREVIOUS PAGE" LINKS
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Pagination a.navigation          { border: 1px solid transparent; overflow: hidden; background-repeat: no-repeat }
.Zebra_Pagination a.previous            { background-color:#fff;}
.Zebra_Pagination a.next                { background-color:#fff;}
.Zebra_Pagination a.previous:hover, .Zebra_Pagination a.next:hover {background-color: #DEDEDE; color: #222}
.Zebra_Pagination a.disabled            { filter: alpha(opacity=20); -khtml-opacity: 0.2; -moz-opacity: 0.2; opacity: 0.2 }
.Zebra_Pagination a.disabled:hover      { background-color: inherit; color: inherit }

/* hack for transparent borders in IE6 */
*html .Zebra_Pagination a.navigation    { border-color: #000001; filter: chroma(color=#000001) }

/* CURRENT PAGE
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Pagination a.current,
.Zebra_Pagination .current,
.Zebra_Pagination a.current:hover,
.Zebra_Pagination .current:hover            { background: #1a448e; color: #FFF }

/* THE "..." SEPARATOR
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Pagination span                  { color: #666; margin-right: 1px; display: block; float: left; }

/*  --------------------------------------------------    size_verysmall -------------------------------------------------- */

.session_block { display: block; float: left; width: 100%; line-height: 24px; background-color: #041A25; padding: 10px 0; border-top: 1px solid #fff; overflow: hidden; border-bottom: 1px solid #fff; position: relative; }
.session_block::before {
  background-image: url("/barbarian/images/BarbarianPanel.m.png");
  background-size: 100% 100%;
  border-image: url("bg-image.png") 0 0 0 0;
  content: "";
  display: inline-block;
  height: 80px;
  position: absolute;
  top: -20px;
  width: 90px;
}
.top_page {  border-top: 0 solid #fff;
  border-bottom: 0 solid #fff;  }
.session_block_small { background-color: #041A25; bottom: -52px; display: block; float: left; line-height: 24px; position: absolute; width: 100%; z-index: 2147483647; margin: 0 0 10px 0; 
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important; }
.session_block h2 { color: #041A25; display: block; width: calc(100% - 22px); font-size: 17px; background-color: #fff; border: 1px solid #041A25; padding: 3px 10px; }
.session_block ul,
.session_block_small ul { float: right; }
.session_block ul li { display: inline-block; color: #fff; font-size: 14px; padding: 0 10px !important; }
.session_block_small ul li { display: inline-block; color: #fff; font-size: 14px; padding: 0 15px !important; }
.session_block ul li a,
.session_block_small ul li a { color: #32FF00 !important; font-weight: 400;  background-color: #041A25 !important; border-bottom: 1px solid #041A25 !important; border-right: 1px solid #041A25 !important; display: inline-block; font-size: 15px; line-height: 20px; margin: 0; padding: 0; transform: translateZ(0px); transition-duration: 0.7s; transition-property: color, background-color; }
.session_block ul li button, .session_block_small ul li button { background-color: #041a25 !important; border: 0 solid #041a25 !important; color: rgba(255, 0, 0, 1) !important; display: table-cell; font-size: 15px; font-weight: 600; height: 35px; line-height: 15px !important; margin: 0; padding: 0 7px; transform: translateZ(0px); transition-duration: 0.7s; transition-property: color, background-color; vertical-align: middle; width: 100%; font-family: unset; cursor: pointer; }
.session_block ul li a:hover,
.session_block_small ul li a:hover { color: #fff !important; }