.comments {}
.comments h3.commentCountList{background: url("../img/icons/commentsLarge.png"/*tpa=http://jpstaraplanina.rs/img/icons/commentsLarge.png*/) no-repeat left top;display:block;float:left;margin:0;padding:5px 0 20px 60px;width:400px;}
.comments h3.commentCountList span{display:block;height:40px;left:0;position:absolute;text-align:center;width:50px;}
.comments a.button{}

.commentsHolder {background:#F2F2F2; border:1px solid #DBDBDB; margin:0 0 20px; padding:20px 20px 0;}
.commentsBrowser{background:#fff; border:1px solid #DBDBDB; margin:0 0 20px;}

.commentsBrowserHead{background:url("../img/commentsBrowserHead_bg.png"/*tpa=http://jpstaraplanina.rs/img/commentsBrowserHead_bg.png*/) repeat-x left top;padding:6px 6px 6px 20px;}
.commentsBrowserHead span.commentName{color:#000000;display:block;float:left;font-family:Georgia,"Times New Roman",Times,serif;font-size:12px;font-style:italic;font-weight:bold;padding:5px 0 0;}
.commentsBrowserHead span.commentDate{color:#777777;display:block;float:right;font-size:11px;padding:5px 10px 0 0;}
.commentsBrowserHead a.button{margin:0;}

.commentsBrowserEntry{padding:20px}
.commentsBrowserEntry h6{font-weight:normal; text-transform:uppercase}





