/********************************************
   LAYOUT
********************************************/ 
#wrap {background:url("/data/images/image.jpg") no-repeat center top; background-attachment: fixed;}
#container{margin:0 auto;width:986px; background:url("../img/containerBgrd.png") top center repeat-y;}
#header {height:109px; position:relative; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
#header a{color:#666666}
#main {padding:20px 23px 10px 23px;}
#footer {width:946px;margin:0 auto; background:url("../img/containerBgrdBottom.png") left bottom no-repeat; padding:0 20px 10px;}
#columnLeft {float:left;width:190px;margin-left:10px; position: relative; }
#content {float:right;position:relative;width:740px;margin-right:10px}
#columnRight { display:none}

/* -------------------  LOGO elements -------------------- */

h1.logo { left: 0; margin: 0; position: relative; top: 16px; left: 20px; float: left; }
h1.logo a {background:transparent url("../img/logo-sr.png") no-repeat top left;cursor:pointer;display:block;width:405px; height:102px;text-indent:-2000px}
.logo img { position: absolute; top: 0; left: 0; }

/* -------------------  SEARCH elements -------------------- */

form.searchForm  {bottom:-57px;position:absolute;right:10px;width:150px;}
fieldset.searchFieldset {width: 150px;}
fieldset.searchFieldset input.searchInput {background:transparent url("../img/search/search.jpg") no-repeat scroll 0 0; float:left;padding:7px 20px 17px 11px;width:85px; color:#FFFFFF}
fieldset.searchFieldset button.searchButton {background:transparent url("../img/search/search.jpg") no-repeat scroll right top;cursor:pointer; float:left;height:30px;text-indent:-9999px;width:25px;}
fieldset.searchFieldset button.searchButton:hover {background:transparent url("../img/search/searchOver.jpg") no-repeat scroll right bottom;}

/* -------------------  PATH elements -------------------- */

#path{background:url("../img/path.png") no-repeat left top;line-height:30px;font-size:11px;text-transform:uppercase;padding:0 10px;margin:0 0 10px}
#path a {color:#959595;font-weight: none;text-decoration: none;font-size:11px;text-transform:uppercase}

/* -------------------  FOOTER elements -------------------- */

#footer p.copy {color:#000;float:left;font-size:12px;width:45%; padding:0; margin-left:5px;font-weight:bold}
#footer p.power {color:#000;float:right;font-size:12px;width:45%;text-align:right; padding:0; margin-right:5px;font-weight:bold}
#footer p.power a{color:#000;}

/* -------------------  THUMBS elements -------------------- */

a.smallThumb {display:block;float:left;margin-right:15px;width: 124px; text-align:center}
a.mediumThumb {display:block;float:left;margin:0 20px 20px 0;;width: 164px; text-align:center}
a.largeThumb {display:block;float:left;margin-right:20px;width:204px; text-align:center}

a.smallThumb img, a.mediumThumb img, a.largeThumb img {border:1px solid #BEBEBE;padding:3px}

/* -------------------  PRINT PAGE & SEND MAIL TO FRIEND -------------------- */

a.printPage{background:transparent url("../img/icons/print.gif") no-repeat left top;display:block;height:18px;position:absolute;right:35px;text-indent:-2000px;top:5px;width:18px;}
a.mailFriend{background:transparent url("../img/icons/mail.gif") no-repeat left top;display:block;height:18px;position:absolute;right:10px;text-indent:-2000px;top:5px;width:18px;}
a.printPageWindow{display:none}

/* -------------------  INCREASE FONT, DECREASE FONT, RESET FONT  -------------------- */

a.increaseFont{background:transparent url("../img/icons/font/increaseFont.png") no-repeat left top;display:block;height:18px;position:absolute;right:60px;text-indent:-2000px;top:5px;width:18px;}
a.resetFont{background:transparent url("../img/icons/font/resetFont.png") no-repeat left top;display:block;height:18px;position:absolute;right:80px;text-indent:-2000px;top:5px;width:18px;}
a.decreaseFont{background:transparent url("../img/icons/font/decreaseFont.png") no-repeat left top;display:block;height:18px;position:absolute;right:100px;text-indent:-2000px;top:5px;width:18px;}

/* -------------------  WEATHER HEADER  -------------------- */

#header .weatherPart{ width:200px;position: absolute; top:40px; right:20px}
#header .weatherPart .divider h6{font-size:11px; color:#757575; margin:0 0 5px 0;}
#header .weatherPart p.temperature{ padding-bottom:0px; line-height:15px}
#header .weatherPart p.temperature span{font-size:12px; font-weight:bold}

/* -------------------  WEATHER PART	  -------------------- */

.weather .weatherPart{color:#757575; margin-top:10px}
.weather .weatherPart .currently {position:relative; font-family:Georgia;}
.weather .weatherPart .currently img{ position:absolute; top:50px; left:10px}
.weather .weatherPart .currently h6{ font-size:30px; margin:0 0 5px 0; font-weight:normal}
.weather .weatherPart p.temperature1{font-size:25px; color:#909090; position:absolute; left:100px; top:50px}
.weather .weatherPart p.temperature1 span{font-size:30px; color:#757575;}
.weather .weatherPart p.temperature2{font-size:25px; color:#909090; position:absolute; left:400px; top:50px}
.weather .weatherPart p.temperature2 span{font-size:30px; color:#757575;}
.weather .weatherPart p.temperature3{font-size:18px; color:#909090; position:absolute; left:100px; top:90px}
.weather .weatherPart p.temperature3 span{font-size:25px; color:#757575;}
.weather .weatherPart p.temperature4{font-size:18px; color:#909090; position:absolute; left:250px; top:90px}
.weather .weatherPart p.temperature4 span{font-size:25px; color:#757575;}
.weather .weatherPart p.temperature5{font-size:18px; color:#909090; position:absolute; top:90px; right:50px;}
.weather .weatherPart p.temperature5 span{font-size:25px; color:#757575;}

.dividerHolder { margin-top:110px; border-top:#D1D1D1 1px solid}
.weather .weatherPart .divider { float:left; width:200px; margin:10px 5px 10px 15px; padding:10px; font-family:Georgia;}
.weather .weatherPart .divider .imgHolder img{ float:none; margin:0}
.weather .weatherPart .divider .imgHolder{ height:80px; width:40px; float:left; margin:0 10px 0 0;}
.weather .weatherPart .divider h6{font-size:11px; color:#757575; margin:0 0 5px 0;}
.weather .weatherPart .divider h6{font-size:11px; color:#757575; margin:0 0 5px 0;}
.weather .weatherPart p.temperature{ padding-bottom:0px; line-height:15px; font-size:11px;}
.weather .weatherPart p.temperature span{font-size:12px; font-weight:bold; font-size:11px;}

/* -------------------  SEND MAIL  -------------------- */

.fotoGalerija{margin:0;}
.videoGalerija{margin:10px 0 0 0;}
.smestaj{margin:10px 0 0 0;}

/* -------------------  Heading  -------------------- */

h2.mainTitle{border-bottom:1px solid #EAEAEA;padding:0 0 10px}
/*
table.contentpaneopen p {
	border: 1px solid #cccccc;
	padding: 15px 25px 25px 15px;

}*/