
/*----- Media List Simple ------*/

.mediaList ul {list-style: none;margin: 0;padding:0;}
.mediaList ul li {float:left;line-height:normal;list-style:none;margin:0;padding:10px;position:relative;}
.mediaList ul a img {border: none;}
.mediaList ul a span.videoIcon{background: url("../img/icons/media/video.png"/*tpa=http://jpstaraplanina.rs/img/icons/media/video.png*/) no-repeat left top;cursor:pointer;display:block;height:40px;left:60px;position:absolute;top:50px;width:40px;}
.mediaList ul a span.audioIcon{background: url("../img/icons/media/audio.png"/*tpa=http://jpstaraplanina.rs/img/icons/media/audio.png*/) no-repeat left top;cursor:pointer;display:block;height:40px;left:50px;position:absolute;top:50px;width:40px;}
.mediaList h6.caption{text-align:center;font-size:12px; font-weight:bold; margin-top:10px;}

/*----- Center Image Hor and Ver ------*/

.centerHVGalleryML {display: table-cell;text-align: center;vertical-align: middle;height: 124px;width: 144px;border: 1px solid #cccccc;}
.centerHVGalleryML * {vertical-align: middle;}
/*\*//*/
.centerHVGalleryML {display: block;}
.centerHVGalleryML span {display: inline-block;height: 100%;width: 1px;}
/**/


.videoTitle{width:144px;text-align:center; padding-top:5px}
.mediaList a.cboxElement{font-weight:bold;}