/* -------------------  LANGUAGE NAVIGATION -------------------- */
.h{position:absolute; top:0; right:20px; height:25px; width:700px}
.menuHolder{ float:right}
.menu {display:block;float:left;height:26px;}
.menu ul {line-height:20px; list-style:none;margin:0;padding:0;}
.menu ul li {display:inline; list-style:none;margin:0 5px 0 0;}
.menu ul li a, .menu ul li a:visited {color:#0753AF;font-family:Arial;font-size:11px; list-style:none;text-decoration:none;}
.menu ul li a:hover {text-decoration: underline;}

/* -------------------  PRIMARY NAVIGATION -------------------- */

#menuHolder {
	height: 56px;
	background:url("../img/main_menu_bg.gif") left top no-repeat;
	margin-left:3px;
}
#menu {
	height:56px;
	position:relative;
	font-size:14px;
	margin:0 0 0 16px;
	float:left;
	z-index: 99;
}
#menu table.ie6 {
	border-collapse:collapse;
	margin:0;
	padding:0;
}
#menu ul {
	padding:6px 0 0 0;
	margin:0;
	list-style: none;
}
#menu ul li {
	float:left;
	padding:0;
	margin:0;
	list-style: none;
}

#menu ul li a {
	display:block;
	float:left;
	padding:0 15px 0 15px;
	text-decoration:none;
	color:#FFFFFF;
	height:50px;
	line-height:50px;
	font-size:14px;
	font-weight: bold;
/*	background:url("../img/menu/center.png") no-repeat right top;*/
}
#menu ul li a:hover{
	display:block;
	float:left;
	padding:0 15px 0 15px;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
	height:50px;
	line-height: 50px;
	font-size:14px;
	font-weight: bold;
	/*background:url("../img/menu/center.png") no-repeat left top;*/
	color:#2D4B7D;
    background-color: #027DC3; 
}
#menu ul li ul li { width: 100%; display: block; }
#menu ul li ul li a {
	display:block;
    width: calc(100% - 15px);
	float:left;
	padding:0 15px 0 15px;
	text-decoration:none;
	color:#FFFFFF;
    height: 36px;
	line-height:36px;
	font-size:14px;
	font-weight: 400;
    position: relative;
/*	background:url("../img/menu/center.png") no-repeat right top;*/
}
#menu ul li ul li a:hover {
	display:block;
    width: calc(100% - 30px);
	float:left;
	padding:0 15px 0 15px;
	text-decoration:none;
	color:#FFFFFF;
    height: 36px;
	line-height:36px;
	font-size:14px;
	font-weight: 400;
    position: relative;
/*	background:url("../img/menu/center.png") no-repeat right top;*/
}
#menu_fish {
	height:56px;
	position:relative;
	font-size:14px;
	margin:0 0 0 16px;
	float:left;
}

#menu_fish ul {
	padding:0;
	margin:0;
	list-style: none;
}

#menu_fish ul li {
	float:left;
	padding:0;
	margin:0;
	list-style: none;
}

#menu_fish ul li a {
	display:block;
	float:left;
	padding:0 15px 0 15px;
	text-decoration:none;
	color:#FFFFFF;
	height:56px;
	line-height:61px;
	font-size:14px;
	font-weight: bold;
	background:url("../img/menu/center.png") no-repeat right top;
}
#menu_fish ul li a:hover{
	display:block;
	float:left;
	padding:0 15px 0 15px;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
	height:56px;
	line-height:61px;
	font-size:14px;
	font-weight: bold;
	background:url("../img/menu/center.png") no-repeat left top;
	color:#2D4B7D;
}
#menu ul li ul {
	padding:0;
	margin:15px 0 0 0;
	list-style: none;
}
#menu ul li ul li{
	float:left;
	padding:0;
	margin:0;
	list-style: none;
	background-color: #002C4F;
}


#menu ul li div.holder {
	position:absolute;
	left:-9999px;
}
#menu /*ul li div*/ .leftSide {
	float:left;
	background: url("../img/menu/dropLeft.png") no-repeat left bottom;
}
#menu /*ul li div*/ .rightSide {
	float:left;
	margin-left:0px;
	display:inline;
	padding:0;
	background: url("../img/menu/dropRight.png") no-repeat right bottom;
}
#menu ul li:hover {
	position:relative;
}
#menu ul li a:hover, #menu ul li a.current, #menu ul li a.onPath {
	color:#FFFFFF;
	background-position:right center;
	white-space:nowrap;
	position:relative;
}
#menu ul li a:hover b, #menu ul li a b.current, #menu ul li a b.onPath {
	color:#FFFFFF;
	background-position:left center;
}
#menu ul li a.sub:hover {
	color:#FFFFFF;
	background-position:right bottom;
	white-space:nowrap;
	position:relative;
}
#menu ul li a.sub:hover b {
	color:#FFFFFF;
	background-position:left bottom;
}
#menu ul li:hover > a {
	color:#FFFFFF;
	position:relative;
}
#menu ul li:hover a.sub {
	color:#FFFFFF;
	background-position:right bottom;
	white-space:nowrap;
	position:relative;
}
#menu ul li:hover a.sub > b {
	color:#FFFFFF;
	background-position:left bottom;
}
#menu ul :hover div.holder {
	position:absolute;
	top:56px;
	left:10px;
	margin: 0;
	padding: 0;
}
#menu ul li.right a:hover div.holder {
	left:auto;
	right:3px;
	top:42px;
}
#menu ul li.right:hover div.holder {
	left:auto;
	right:4px;
	top:42px;
}
#menu ul dl {
	width:auto;
	margin:10px 0 10px 0;
	padding:0;
	list-style:none;
}
#menu ul dl dt {
	padding:0 10px;
	margin:0;
	line-height:20px;
	background:#488;
	color:#fff;
	white-space:nowrap;
}
#menu ul dl dd {
	display:block;
	padding:0;
	margin:0;
}
#menu ul dd a {
	background-image: none;
	display:block;
	height: 30px;
	line-height: 30px;
	color:#fff;
	text-align:left;
	margin: 0;
	padding:0 13px;
	white-space:nowrap;
	float:none;
	border-top: 1px solid #92A9CC;
}
#menu ul dd a:hover {
	color:#2D4B7D;
	background:url("../img/menu/hov.png") no-repeat left center
}
#menu ul table td {
	vertical-align:top;
	background:#7793BF;
	border:none;
	padding:0;
}
#menu ul table {
	border-left:none;
	margin:0;
}

/* -------------------  SECUNDARY NAVIGATION -------------------- */

#secondaryNavigationHolder{ float:right}
#secondaryNavigation {
	padding:0;
	/*position:absolute;
	right:20px;*/
	top:0;
	height:26px;
	font-size: 11px;
	margin:0;
	z-index:1000;
	float:left;
	background:transparent url("../img/menu/leftAll.jpg") no-repeat scroll left top;
	height:26px;
	padding-left:5px;
}
#secondaryNavigation table.ie6 {
	border-collapse:collapse;
	margin:0;
	padding:0;
}
#secondaryNavigation ul {
	background:transparent url("../img/menu/rightAll.jpg") no-repeat scroll right bottom;display:block;
	float:left;
	height:25px;
	display:inline;
	padding-right:5px;
	margin:0;
    width: 250px;
}
#secondaryNavigation ul li {
	display:inline;
	float: left;
	margin:00;
}

#secondaryNavigation ul li a {
	display:block;
	float:left;
	padding:0 10px 0 0;
	text-decoration:none;
	color:#000000;
	height:25px;
	line-height:23px;
	font-size:11px;
	background:url("../img/menu/centerSec.jpg") no-repeat right top;
}
#secondaryNavigation ul li a b {
	display:block;
	float:left;
	padding:0 0 0 10px;
	text-decoration:none;
	color:#000000;
	height:25px;
	line-height:23px;
	font-size:11px;
	background:url("../img/menu/centerSec.jpg") no-repeat left top;
	cursor:pointer;
	font-weight:normal;
}
	
#secondaryNavigation ul li div.holder {
	position:absolute;
	left:-9999px;
	z-index:200;
}
#secondaryNavigation ul li div .leftSide {
	float:left;
	background: url("../img/menu/dropLeftSec.png") no-repeat left bottom;
	z-index:100
}
#secondaryNavigation ul li div .rightSide {
	float:left;
	margin-left:10px;
	display:inline;
	padding:0 10px 0 0;
	background: url("../img/menu/dropRightSec.png") no-repeat right bottom;
	z-index:100
}
#secondaryNavigation ul li:hover {
	position:relative;
}
#secondaryNavigation ul li a:hover, #secondaryNavigation ul li a.current, #secondaryNavigation ul li a.onPath {
	color:#666666;
	background-position:right center;
	white-space:nowrap;
	position:relative;
}
#secondaryNavigation ul li a:hover b, #secondaryNavigation ul li a b.current, #secondaryNavigation ul li a b.onPath {
	color:#666666;
	background-position:left center;
}
#secondaryNavigation ul li a.sub:hover {
	color:#666666;
	background-position:right bottom;
	white-space:nowrap;
	position:relative;
}
#secondaryNavigation ul li a.sub:hover b {
	color:#666666;
	background-position:left bottom;
}
#secondaryNavigation ul li:hover > a {
	color:#666666;
	position:relative;
}
#secondaryNavigation ul li:hover a.sub {
	color:#666666;
	background-position:right bottom;
	white-space:nowrap;
	position:relative;
}
#secondaryNavigation ul li:hover a.sub > b {
	color:#666666;
	background-position:left bottom;
}
#secondaryNavigation ul :hover div.holder {
	position:absolute;
	top:26px;
	left:5px;
	margin: 0;
	padding: 0;
}
#secondaryNavigation ul li.right a:hover div.holder {
	left:auto;
	right:3px;
	top:26px;
}
#secondaryNavigation ul li.right:hover div.holder {
	left:auto;
	right:4px;
	top:26px;
}
#secondaryNavigation ul dl {
	width:auto;
	margin:10px 0 10px 0;
	padding:0;
	list-style:none;
}
#secondaryNavigation ul dl dt {
	padding:0 10px;
	margin:0;
	line-height:20px;
	background:#488;
	color:#fff;
	white-space:nowrap;
}
#secondaryNavigation ul dl dd {
	display:block;
	padding:0;
	margin:0;
}
#secondaryNavigation ul dd a {
	background-image: none;
	display:block;
	height: 25px;
	line-height: 25px;
	color:#666666;
	text-align:left;
	margin: 0;
	padding:0;
	white-space:nowrap;
	float:none;
	border-top: 1px solid #EFEFEF;
}
#secondaryNavigation ul dd a:hover {
	color:#000;
	background:url("../img/menu/hov.png") no-repeat left center
}
#secondaryNavigation ul table td {
	vertical-align:top;
	background:#E0E0E0;
	border:none;
	padding:0;
}
#secondaryNavigation ul table {
	border-left:none;
	margin:0;
}
